.container
{
  padding-inline: var(--space-1);
}

.main
{
  margin-inline: auto;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 95%, 700px);
}

.footer
{
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #222;
  justify-content: center;
  align-items: center;
}